// Colors
$darkPurple: #7900FF;
$bgColor: #0E0D0E;
$sectionColor: #171717;
$gray: #75777C;
$black: #000000;
$white: #FFFFFF;

// Projects
$github-project-color: #887DFD;

// Contacts
$input-form: .2rem solid $darkPurple;
$bg-form: #1F1D20;

//Font
$family-text: 'Tajawal', sans-serif;