@import "./AboutMe/aboutMe";
@import "./Lines/lines";
@import "./Profile/profile";

.hero__container {
    @include sizeItens(90vw, auto, 0);
    @include disFlexCenter;
    flex-direction: column;

    @media (min-width: 768px) {
        flex-direction: row;
        gap: 1.5rem;
    }
}