.html {
    color: #E44D26;
}

.css {
    color: #1572B6;
}

.javascript {
    color: #F7DF1E;
}

.sass {
    color: #CD6799;
}

.tailwindCss {
    color: #38BDF8;
}

.react {
    color: #61DAFB;
}

.bootstrap {
    color: #6610F2;
}

.styled-components {
    color: #CD6799;
}

.node-js {
    color: #418B3D;
}

.figma {
    color: #A259FF;
}

.vite {
    color: #416BFF;
}

.trello {
    color: #0091E6;
}

.formik {
    color: #172B4D;
}

.github,
.notion,
.next-js {
    color: $white;
}