@import "./iconColors";

.tech-description {
    @include disFlexCenter;
    flex-wrap: wrap;
    gap: 1rem;

    .tech-description__container {
        @include sizeItens(auto, auto, 0.25rem);
        @include disFlexCenter;
        flex-wrap: wrap;
        gap: 1rem;
        border: 0.0625rem solid $gray;
        padding: .1rem;

        .tech-description__item {
            @include disFlexCenter;
            height: 100%;
            text-align: center;
            gap: .1rem;

            .tech-description__icon {
                font-size: 1.2rem;

                @media (min-width: 768px) {
                    font-size: 1.5rem;
                }
            }

            .tech-description__title {
                @include textStyle($white, 0.875rem, 400);

                @media (min-width: 768px) {
                    font-size: 1rem;
                }
            }
        }
    }


}