.form {
    margin: 0;
    @include sizeItens(100%, auto, 0.5rem);
    @include disFlexCenter;
    flex-direction: column;
    gap: 1.5rem;
    background-color: $bg-form;
    padding: 1.25rem 0.625rem;

    .form__floating-input, .form__floating-textarea {
        @include sizeItens(100%, auto, 0.5rem);
        padding: 0;
        background-color: transparent;

        @media (min-width: 620px) {
            width: 18.25rem;
        }

        @media (min-width: 1000px) {
            width: 23rem;
        }

        .form-control {
            width: 100%;
            background-color: transparent;
            color: $white;
            border-color: $darkPurple;

            &:focus {
                box-shadow: none;
                border-color: $white;
            }

            &:not(placeholder-shown) ~ label {
                color: #887DFD;

                &::after {
                    background-color: transparent;
                }
            }

        }

        label {
            color: $white;

            &::after {
                color: $white;
            } 
        }
    }

    .form__floating-textarea {
        height: 136px;

        textarea {
            height: 100%;
            resize: none;
        }
    }

    .form__button {
        width: 96.669%;
        @include textStyle($white, 0.875rem, 600);
        background-color: $darkPurple;
        border: none;

        &:focus {
            background-color: $black;
        }
    }


    @media (min-width: 500px) {
        width: 20rem;
    }

    @media (min-width: 1000px) {
        width: 25rem;
    }
}