.section__hero,
.section__projects,
.section__skills,
.section__contact {
    @include sizeItens(100%, 100vh, 0);
    @include disFlexCenter;
}

.section__hero {
    height: 53.125rem;

    @media (min-width: 768px) {
        height: 38rem;
    }
}

.section__projects, .section__contact {
    background-color: $sectionColor;
}

.section__projects {
    height: 109.375rem;

    @media (min-width: 768px) {
        height: 75rem;
    }

    @media (min-width: 1024px) {
        height: 45rem;
    }
}

.section__skills {
    height: 62.5rem;
    flex-direction: column;

    @media (min-width: 1024px) {
        height: 720px;
    }
}

.section__contact {
    height: 50rem;

    @media(min-width: 768px) {
        height: 550px;
    }

    @media(min-width: 1024px) {
        height: 550px;
    }
}