@import "./TechDescription/techDescription";

.techStack-card {
    @include sizeItens(100%, 15.625rem, .5rem);
    @include disFlexCenter;
    max-width: 27.375rem;
    flex-wrap: wrap;
    border: .0625rem solid $darkPurple;
    flex-direction: column;
    gap: 1.5rem;

    .techStack-card__title {
        @include textStyle($white, 1.5rem, 700);
    }

    .techStack-card__stack {
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}